@using MeretTune.ViewModels
@using Microsoft.AspNetCore.Identity
@model List<ArtistAlbum>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Your Library";
}

<h4>All ALbums:</h4>
<hr/>
<div class="container">
    @foreach (var album in Model) {
        <div class="row">
            <div class="col-md-4">
                <a href="@($"/album/{album.Album.AlbumId}")" class="text-decoration-none">
                    <div class="card" style="width: 200px">
                        <img src="@($"/albumImages/{album.Album.AlbumCover}")" style="width: 200px; height: 200px"/>
                        <div class="card-body">
                            <h5 class="card-title text-decoration-none text-white">@album.Album.AlbumName</h5>
                            <h6 class="card-subtitle mb-2 text-white-50 text-decoration-none">@album.Artist.ArtistName</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>